/* Extra Small devices (portrait tablets and large phones) */
@media only screen and (max-width: 600px) {
	nav{
		background-color: yellow;
		height:20vh;
	}
	nav img{
		width: 25vw;
	}
	nav a{
		font-size: 1rem;
		display: inline-block;
		position: relative;
		right: 40%;
		color: gray;
	  }
	  nav a:hover{
	  	color: white;
	  }
	h1{
		font-size: 1.5rem;
		margin-left: 15%;
		display: inline-block;
	}
	header h2{
		font-size: 1.5rem;
		margin-left: 3%;
		display: inline-block;
	}
	section h2{
		height:  17vh;
		width: 46vw;
		font-size: 0.6rem;
		display:inline block;
		left: 52%;
		top:  65%;
		position: absolute;
		padding-top:1%;
	}
	h3{
		text-align:justify-all;
		background-color:#0a4650;
		display:inline block;
		margin: 8%;
		top: 78%;
		right:45%;
		position: absolute;
		height:  37vh;
		width: 45vw;
		font-size: 0.6rem;
		padding: 2%;
	}
	button{
		width: 40%;
	}
	button:hover{
		background-color: green;
	}

	button img{
	height: 4vh;
	position: relative;
	left: 5px;
	top: 5px;
	padding: 5px;
}
	button p{
	display: inline-block;
	padding: 10px;
	font-size: 1rem;
	color: purple;
	  }
	 #p1{
	position: relative;
	margin: auto;
	left: 3%;
}

#ing{
	width: 100vw;

}
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
	nav a{
		font-size: 1.5rem;
	}
	section h2{
		height:  30vh;
		width: 46vw;
		font-size: 1rem;
		display:inline block;
		left: 52%;
		top:  108%;
		position: absolute;
		padding-top:1%;
	}
	h3{
		text-align:justify-all;
		background-color:#0a4650;
		display:inline block;
		margin: 8%;
		top: 133%;
		right:45%;
		position: absolute;
		height:  70vh;
		width: 45vw;
		font-size: 1rem;
		padding: 2%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
nav a{
		font-size: 1.5rem;
}
nav{
		background-color: pink;
		height: 20vh;
	}
	nav a:hover{
	  	color: white;
	  }
	section h2{
		height:  20vh;
		width: 46vw;
		font-size: 1.2rem;
		display:inline block;
		left: 52%;
		top:  68%;
		position: absolute;
		padding-top:1%;
	}
	h3{
		text-align:justify-all;
		background-color:#0a4650;
		display:inline block;
		margin: 8%;
		top: 85%;
		right:45%;
		position: absolute;
		height:  50vh;
		width: 45vw;
		font-size: 1.3rem;
		padding: 2%;
		  }
		  button p{
		display: inline-block;
		padding: 10px;
		font-size: 1.5rem;
		color: purple;
	  }
	  button{
		width: 50%;
	}
	button:hover{
		background-color: green;
	}

	#caja1{
		width: 100%;
 		right: 21%;
 		position: relative;
 		margin: 0px;
	}
	 #p1{
		position: relative;
		margin: auto;
		left: 26%;
    }
    li{
	  	font-size: 1.5rem;
	  }


  }


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	nav{
		background-color:blue;
		height: 20vh;
	}
	nav a{
		font-size: 1.5rem;
	}
	nav a:hover{
	  	color: white;
	  }
	nav img{
		width: 18vw;
	}
	section h2{
		height: 20vh;
		width: 46vw;
		font-size: 1.7rem;
		display:inline block;
		left: 52%;
		top: 49%;
		position: absolute;
		padding-top:1%;
	}
	h3{
		text-align:justify-all;
		background-color:#0a4650;
		display:inline block;
		margin: 8%;
		top: 65%;
		right:45%;
		position: absolute;
		height:  47vh;
		width: 45vw;
		font-size: 1.7rem;
		padding: 2%;
	  }
	  button{
	  	width: 50%;
	  }
	  button:hover{
		background-color: green;
	}

	  #caja1{
	  	display:inline-block;
	  	position: relative;
	  	width: 40%;
	  	left: 300px;
	  }
	  #cajaa{
	  	margin-top:10%;
	  }
	  li{
	  	font-size: 1.5rem;
	  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    nav{
    	background-color: black;
    }
    nav a{
    	font-size: 2.5rem;
      }
      nav a:hover{
	  	color: white;
	  }
    section h2{
		height: 37vh;
		width: 46vw;
		font-size: 1.5rem;
		display:inline block;
		left: 52%;
		top: 120%;
		position: absolute;
		padding-top:5%;
	}
	h3{
		text-align:justify-all;
		background-color:#0a4650;
		display:inline block;
		margin: 8%;
		top:155%;
		right:45%;
		position: absolute;
		height: 80vh;
		width: 45vw;
		font-size: 1.7rem;
		padding: 2%;
	  }
	  li{
	  	font-size: 1.5rem;
	  }
	  fieldset button{
	  	font-size: 2rem;
	  }
	  button:hover{
		background-color: green;
	}

}
